.wrapper {
    width: 1140px;
    margin: 0 auto;
}

/* Header */

header {
    border-bottom: 2px solid #EB5757;
}

.header {
    height: 72px;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    padding: 15px;
}

.header_logo_title {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
}

.header_logo_subtitle {
    margin: 0;
    color: #EB5757;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.header_navbar {
    display: flex;
    flex-basis: 800px;
    align-items: flex-end;
}

.hidden_navbar {
    display: none;
}

.header_navbar_elem {
    height: 72px;
    flex-basis: 200px;
    position: relative;
}

.header_navbar_elem_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.header_navbar_elem_link:hover {
    color: #EB5757;
    text-decoration: none;
}

.active_link {
    background: #EB5757;
}

.active_link p a {
    color: #fff;
}

.active_link p a:hover {
    color: #fff;
    text-decoration: none;
}



/* Main */

section {
    margin-top: 50px;
}

.section_title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

.card:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}



/* Steps */

.steps_block {
    display: flex;
    justify-content: space-between;
}

.steps_elem {
    flex-basis: 360px;
}



/* Career */

.career_block {
    display: flex;
    justify-content: space-between;
}

.career_elem {
    width: 555px;
}

.career_img {
    margin: 5px 0 15px 0;
}



/* Achievements */

.achievs_block {
    display: flex;
    flex-wrap: wrap;
}

.achievs_elem {
    flex-basis: 255px;
    margin-bottom: 30px;
    margin-right: 30px;
}


/* Skills */

section.skills {
    margin-top: 20px;
}



/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    height: 36px;
    margin: 50px 0 20px 0;
}

.footer_text {
    display: block;
    color: #828282;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
}

.footer_link {
    color: #EB5757;
    font-size: 18px;
    font-weight: 500;
}

.footer_social {
    display: flex;
    float: right;
}

.social_item {
    margin-left: 18px;    
}



/*
@media screen and (max-width: 1160px) {
    .wrapper {
        width: 100vw;
        padding: 0 1vw;
    }
    
    header {
        width: 98vw;
    }
    
    .header_navbar_elem {
        flex-basis: 20vw;
    }

    .header_logo {
        width: 20vw;
    }
    
    .steps_elem {
        flex-basis: 31vw;
    }
    
    .career_elem {
        flex-basis: 48vw;
    }
    
    .achievs_elem {
        flex-basis: 28.5vw;
    }
}

@media screen and (max-width: 945px) {
    .header_navbar_elem {
        flex-basis: 17.5vw;
    }

    .header_logo {
        width: 30vw;
    }
}

@media screen and (max-width: 780px) {
    .header_navbar_elem {
        flex-basis: 21vw;
    }

    .header_logo {
        width: 37vw;
    }
}

@media screen and (max-width: 720px) {
    header {
        margin-bottom: 40px;
        width: 540px;
    }
    
    section {
        margin-top: 20px;
    }
    
    .wrapper {
        width: 540px;
        padding: 0;
    }
    
    .steps_block, .career_block {
        flex-direction: column;
    }
    
    .steps_elem, .career_elem {
        width: 540px;
        margin-bottom: 30px;
    }
    
    .achievs_block {
        width: 540px;
        justify-content: space-between
    }
    
    .achievs_elem {
        flex-basis: 255px;
        margin: 0 0 30px 0;
    }
    
    .header_logo {
        width: 80vw;
    }
    
    .header_navbar {
        justify-content: flex-end;
    }
    
    .header_navbar_elem {
        display: none;
    }
    
    footer {
        width: 540px;
    }
}

@media screen and (max-width: 550px) {
    .wrapper {
        width: 100vw;
        padding: 0 2vw;
    }
    
    header {
        width: 96vw;
    }
    
    .header_logo {
        flex-basis: 96vw;
    }
    
    .header_navbar {
        position: fixed;
    }
    
    .steps_elem, .career_elem {
        width: 96vw;
        margin-bottom: 4vw;
    }
    
    .steps_block, .career_block {
        flex-direction: column;
        align-items: center;
    }
    
    .section_title {
        width: 96vw;
    }
    
    .achievs_elem {
        flex-basis: 46vw;
        margin: 0 0 4vw 0;
    }
    
    .achievs_block {
        width: 96vw;
    }
    
    footer {
        width: 96vw;
        flex-direction: column;
        align-items: center;
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 380px) {
    .achievs_elem {
        flex-basis: 96vw;
    }
}*/
