/* Header */

header {
    border-bottom: 2px solid #EB5757;
}

.header {
    height: 72px;
}

.header_logo {
    padding: 15px;
}

.header_logo_title {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.header_logo_subtitle {
    margin: 0;
    color: #EB5757;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.header_navbar {
    display: flex;
}


.header_navbar_elem_p {
    display: block;
    position: relative;
    height: 72px;
    margin: 0;
}

.header_navbar_elem_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.header_navbar_elem_link:hover {
    color: #EB5757;
    text-decoration: none;
}

.active_link {
    background: #EB5757;
}

.active_link p a {
    color: #fff;
}

.active_link p a:hover {
    color: #fff;
    text-decoration: none;
}



/* Main */

main > section {
    margin-top: 50px;
}

.section_title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
}

section .card {
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

section .card:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}



/* Steps */

.steps_block {
    display: flex;
    justify-content: space-between;
}

.steps_elem {
    width: 350px;
}



/* Career */

.career_block {
    display: flex;
    justify-content: space-between;
}

.career_elem {
    width: 540px;
}

.career_img {
    margin-bottom: 15px;
}

.career_date {
    text-align: right;
}



/* Achievements */

.achievs_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.achievs_elem {
    flex-basis: 255px;
    margin-bottom: 30px;
}



/* Skills */

section.skills {
    margin-top: 20px;
}



/* Footer */

footer {
    height: 50px;
    margin-top: 72px;
    margin-bottom: 15px;
}

p.footer_text {
    color: #828282;
    font-size: 18px;
    font-weight: 600;
}

p.footer_text > .footer_link {
    color: #EB5757;
    font-size: 18px;
    font-weight: 600;
}

.footer_social {
    display: flex;
    float: right;
}

.social_item {
    margin-left: 15px;    
}



@media screen and (max-width: 1199px) {
    .steps_elem {
        width: 290px;
    }
    .career_elem {
        width: 450px;
    }
    .achievs_elem {
        flex-basis: 290px;
    }
}
