/* Header */

header {
    margin-top: 15px;
}

.header_text > .header_title {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.header_text > .header_subtitle {
    color: #EB5757;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}



/* Main */

main {
    margin-top: 15px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

.navbar_item {
    height: 380px;
    width: 380px;
    padding: 24px;
    border: 15px solid #fff;
}

.navbar_item:hover {
    border: 15px solid rgba(248,248,248);
}

#navbar_creed {
    width: 750px;
    padding: 15px;
}

p.creed_title {
    margin-top: 50px;
    color: #EB5757;
    font-weight: 600;
    text-transform: uppercase;
}

p.creed_text {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    text-indent: 50px;
}

#navbar_item_1 {
    background: url(../img/navbar-career.jpg);
    background-size: cover;
}
#navbar_item_2 {
    background: url(../img/navbar-innovation.jpg);
    background-size: cover;
}
#navbar_item_3 {
    background: url(../img/navbar-students.jpg);
    background-size: cover;
}
#navbar_item_4 {
    background: url(../img/navbar-other.jpg);
    background-size: cover;
}

.navbar_item_title_link {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}

.navbar_item_title_link:hover {
    color: #fff;
    text-decoration: none;
}

.navbar_item_subnav {
    width: 250px;
    margin-top: 15px;
}

.navbar_item_subnav_link > .subnav_link {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.navbar_item_subnav_link {
    margin-bottom: 4px;
}



/* Footer */

footer {
    margin-top: 30px;
}

p.footer_text {
    color: #828282;
    font-size: 18px;
    font-weight: 600;
}

p.footer_text > .footer_link {
    color: #EB5757;
    font-size: 18px;
    font-weight: 600;
}

.footer_social {
    display: flex;
    float: right;
}

.social_item {
    margin-left: 15px;    
}



@media screen and (max-width: 1199px) {
    .navbar_item {
        height: 320px;
    }
    
    p.creed_title {
        margin-top: 30px;
        color: #EB5757;
        font-weight: 600;
        text-transform: uppercase;
    }

    p.creed_text {
        margin-top: 15px;
        font-size: 24px;
        font-weight: 400;
        text-indent: 50px;
    }
    
    footer {
        margin-top: 15px;
    }
}

@media screen and (max-width: 991px) {
    .navbar_item {
        
    }
}

