.wrapper {
    width: 1140px;
    margin: 0 auto;
}

/* Header */

header {
    margin-top: 15px;
}

.header_title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.header_subtitle {
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
}



/* Main */

main {
    margin-top: 15px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.navbar_item {
    flex-basis: 380px;
    height: 380px;
    padding: 24px 28px;
    border: 10px solid #fff;
}

.navbar_item:not(:nth-child(2)):hover {
    border: 10px solid rgba(240,240,240);
}

#navbar_creed {
    flex-basis: 760px;
    padding: 10px 10px 0 10px;
}

.creed_title {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
}

.creed_text {
    font-size: 24px;
    font-weight: 600;
    text-indent: 40px;
}

#navbar_item_1 {
    background: #333;
}
#navbar_item_2 {
    background: #333;
}
#navbar_item_3 {
    background: #333;
}
#navbar_item_4 {
    background: #333;
}

.navbar_item_title_link {
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}

.navbar_item_title_link:hover {
    color: #fff;
}

.navbar_item_subnav {
    width: 250px;
    margin-top: 20px;
}

.navbar_item_subnav_link {
    margin-bottom: 6px;
}

.subnav_link {
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.subnav_link:hover {
    color: #fff;
}



/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    height: 36px;
    margin: 25px 0;
}

.footer_text {
    display: block;
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
}

.footer_link {
    color: #333;
    font-size: 20px;
    font-weight: 600;
}

.footer_link:hover {
    color: #333;
}



/* Low visible */

.low-visible {
    position: fixed;
    top: 90vh;
    left: 20px;
    height: 40px;
    width: 40px;
    opacity: .8;
}

.low-visible_link {
    height: 100%;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0,0,0,.25);
}



/* Media requests */

@media screen and (max-width: 1160px) {
    
    .wrapper {
        width: 100vw;
        padding: 0 .5vw;
    }
    
    header {
        width: 99vw;
        padding: 0 1vw;
    }
    
    main {
        margin-top: 20px;
    }
    
    .navbar_item {
        flex-basis: 33vw;
        height: 33vw;
    }
    
    #navbar_creed {
        flex-basis: 66vw;
        padding: 20px 10px 0 10px;
    }
    
    .navbar_item_subnav {
        width: 25vw;
    }
    
    footer {
        margin: 20px 0;
        padding: 0 1vw;
    }
}

@media screen and (max-width: 960px) {
    
    .wrapper {
        width: 92vw;
        padding: 0 1vw;
    }
    
    #navbar_creed {
        flex-basis: 90vw;
        height: auto;
    }
    
    .navbar_item {
        flex-basis: 45vw;
        height: 45vw;
    }
    
    .navbar_item:not(:nth-child(1)):hover {
        border: 10px solid rgba(240,240,240);
    }
    
    #navbar_creed:hover {
        border: 10px solid #fff;
    }
}

@media screen and (max-width: 720px) {
    .wrapper {
        width: 100vw;
        padding: 0 1vw;
    }
    
    header {
        padding: 0 2vw;
    }
    
    main {
        margin-top: 15px;
    }
    
    #navbar_creed {
        flex-basis: 98vw;
        padding-top: 0;
    }
    
    .navbar_item {
        flex-basis: 49vw;
        height: 49vw;
        border: 1vw solid #fff;
    }
    
    .navbar_item:not(:nth-child(1)):hover {
        border: 1vw solid rgba(240,240,240);
    }
    
    #navbar_creed:hover {
        border: 1vw solid #fff;
    }
    
    .navbar_item_subnav {
        width: 36vw;
        margin-top: 10px;
    }
    
    .navbar_item_subnav_link {
        margin-bottom: 4px;
        line-height: 24px;
    }
    
    .subnav_link {
        font-size: 18px;
    }
    
    footer {
        padding: 0 3vw;
        height: auto;
        margin: 15px 0;
    }
}

@media screen and (max-width: 540px) {
    .wrapper {
        width: 360px;
    }
    
    header {
        width: 360px;
    }
    
    .header_text {
        text-align: center;
    }
    
    .creed_text {
        font-size: 18githupx;
    }
    
    .navbar_item {
        flex-basis: 360px;
        height: 360px;
    }
    
    .navbar_item_subnav {
        width: 250px;
    }
    
    footer {
        width: 360px;
        flex-direction: column;
    }
    
    .footer_text {
        text-align: center;
    }
    
    .footer_social {
        margin: 0 auto;
    }
}

@media screen and (max-width: 360px) {
    .wrapper {
        width: 100vw;
        padding: 0;
    }
    
    header {
        width: 100vw;
    }
    
    main {
        margin-top: 30px;
    }
    
    .navbar_item {
        flex-basis: 100vw;
        height: 100vw;
    }
    
    .creed_title {
        font-size: 14px;
        line-height: 20px;
    }
    
    .creed_text {
        font-size: 18px;
    }
    
    footer {
        width: 100vw;
    }
}
