.wrapper {
    width: 1110px;
    margin: 0 auto;
}

/* Header */

header {
    margin-top: 15px;
}

.header_text > .header_title {
    margin-bottom: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
}

.header_text > .header_subtitle {
    color: #EB5757;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}



/* Main */

main {
    margin-top: 15px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.navbar_item {
    height: 370px;
    flex-basis: 370px;
    padding: 24px;
    border: 15px solid #fff;
}

.navbar_item:not(:nth-child(2)):hover {
    border: 15px solid rgba(240,240,240);
}

#navbar_creed {
    padding: 0;
    flex-basis: 740px;
}

.creed_content {
    margin-top: 60px;
}

p.creed_title {
    color: #EB5757;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
}

p.creed_text {
    font-size: 24px;
    font-weight: 500;
    text-indent: 50px;
}

#navbar_item_1 {
    background: url(../img/navbar-career.jpg);
    background-size: cover;
}
#navbar_item_2 {
    background: url(../img/navbar-innovation.jpg);
    background-size: cover;
}
#navbar_item_3 {
    background: url(../img/navbar-students.jpg);
    background-size: cover;
}
#navbar_item_4 {
    background: url(../img/navbar-other.jpg);
    background-size: cover;
}

.navbar_item_title_link {
    color: #fff;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
    line-height: 32px;
    text-transform: uppercase;
}

.navbar_item_title_link:hover {
    color: #fff;
    text-decoration: none;
}

.navbar_item_subnav {
    width: 80%;
    margin-top: 15px;
}

.navbar_item_subnav_link > .subnav_link {
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
}

.navbar_item_subnav_link {
    margin-bottom: 4px;
}



/* Footer */

footer {
    height: 36px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between
}

p.footer_text {
    display: block;
    color: #828282;
    font-size: 18px;
    font-weight: 600;
    line-height: 36px;
}

p.footer_text > .footer_link {
    color: #EB5757;
    font-size: 18px;
    font-weight: 600;
}

.footer_social {
    display: flex;
    float: right;
}

.social_item {
    margin-left: 15px;    
}



/* Media requests */

@media screen and (max-width: 1130px) {
    .wrapper {
        width: 94vw;
        padding: 0 0.5vw;
        margin: 0 auto;
    }
    header {
        width: 94vw;
        margin: 15px auto;
    }
    .navbar_item {
        flex-basis: 31vw;
        height: 31vw;
        border: 1vw solid #fff;
        padding: 2vw;
    }
    .navbar_item_subnav {
        width: 25vw;
    }
    .navbar_item:not(:nth-child(2)):hover {
        border: 1vw solid rgba(240,240,240);
    }
    #navbar_creed {
        flex-basis: 62vw;
        position: relative;
    }
    .creed_content {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    footer {
        width: 94vw;
        margin: 30px auto;
    }
}

@media screen and (max-width: 910px) {
    .wrapper {
        width: 80vw;
        padding: 0;
    }
    header {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    p.header_title {
        width: 60vw;
        margin: 0 10vw;
    }
    #navbar_creed {
        flex-basis: 80vw;
        height: 35vw;
    }
    .navbar_item {
        flex-basis: 40vw;
        height: 40vw;
    }
    footer {
        width: 80vw;
    }
}

@media screen and (max-width: 720px) {
    .wrapper {
        width: 96vw;
        padding: 0 2vw;
    }
    header {
        text-align: center;
        margin-bottom: 20px;
    }
    p.header_title {
        width: 78vw;
        margin: 0 7vw;
    }
    #navbar_creed {
        flex-basis: 92vw;
        padding: 2vw;
    }
    .navbar_item {
        flex-basis: 46vw;
        height: 46vw;
        padding: 3vw;
    }
    footer {
        width: 92vw;
    }
}

@media screen and (max-width: 658px) {
    .wrapper {
        width: 100vw;
        padding: 0 2vw;
    }
    header {
        text-align: center;
        margin-bottom: 20px;
    }
    p.header_title {
        width: 80vw;
        margin: 0 10vw;
    }
    p.creed_text {
        font-size: 18px;
    }
    p.creed_title {
        font-size: 14px;
        line-height: 16px;
    }
    #navbar_creed {
        flex-basis: 96vw;
        height: 25vw;
    }
    .navbar_item {
        flex-basis: 48vw;
        height: 48vw;
        padding: 3vw;
    }
    footer {
        width: 90vw;
    }
}

@media screen and (max-width: 548px) {
    .wrapper {
        width: 100vw;
        padding: 0 2vw;
    }
    header {
        text-align: center;
        margin-bottom: 20px;
    }
    .navbar {
        flex-direction: column;
    }
    p.header_title {
        width: 80vw;
        margin: 0 10vw;
    }
    p.creed_text {
        font-size: 24px;
        line-height: 32px;
    }
    p.creed_title {
        font-size: 16px;
        line-height: 24px;
    }
    #navbar_creed {
        flex-basis: 50vw;
        width: 96vw;
    }
    .navbar_item {
        flex-basis: 96vw;
        width: 96vw;
        padding: 7vw;
    }
    .navbar_item_title_link {
        font-size: 36px;
    }
    .navbar_item_subnav {
        width: 70vw;
    }
    .navbar_item_subnav_link > .subnav_link {
        font-size: 24px;
        line-height: 36px;
    }
    .navbar_item_subnav_link {
        margin-bottom: 8px;
    }
    footer {
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin-bottom: 130px;
    }
    footer > .footer_text {
        font-size: 20px;
    }
    footer > .footer_text > .footer_link {
        font-size: 20px;
    }
}