* {
    color: #333;
    font-family: 'Ubuntu';
    font-weight: 400;
}

a {
    color: #EB5757;
    font-weight: 600;
}

a:hover {
    color: #EB5757;
}

html, body {
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-y: scroll;
  width: calc(100% + 20px);
  padding: 0px;
}

/* Font 'Roboto Slab' */

@font-face {
    font-family: 'Roboto Slab';
    src: url(../font/RobotoSlab/RobotoSlab-ExtraLight.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(../font/RobotoSlab/RobotoSlab-Thin.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(../font/RobotoSlab/RobotoSlab-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(../font/RobotoSlab/RobotoSlab-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(../font/RobotoSlab/RobotoSlab-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(../font/RobotoSlab/RobotoSlab-SemiBold.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(../font/RobotoSlab/RobotoSlab-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(../font/RobotoSlab/RobotoSlab-ExtraBold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto Slab';
    src: url(../font/RobotoSlab/RobotoSlab-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Font 'Ubuntu' */

@font-face {
    font-family: 'Ubuntu';
    src: url(../font/Ubuntu/Ubuntu-Light.ttf) format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../font/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../font/Ubuntu/Ubuntu-Medium.ttf) format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src: url(../font/Ubuntu/Ubuntu-Bold.ttf) format('truetype');
    font-weight: 800;
    font-style: normal;
}