/* Header */

header {
    border-bottom: 2px solid #EB5757;
}

.header {
    height: 4.5rem;
}

.header_logo {
    padding: 1rem;
}

.header_logo_title {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.header_logo_subtitle {
    margin: 0;
    color: #EB5757;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
}

.header_navbar {
    display: flex;
}


.header_navbar_elem_p {
    display: block;
    position: relative;
    height: 4.5rem;
    margin: 0;
}

.header_navbar_elem_link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.header_navbar_elem_link:hover {
    color: #EB5757;
    text-decoration: none;
}

.active_link {
    background: #EB5757;
}

.active_link p a {
    color: #fff;
}

.active_link p a:hover {
    color: #fff;
    text-decoration: none;
}



/* Main */

main > section {
    margin-top: 3rem;
}

.section_title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

section .card {
    box-shadow: 0 0 5px rgba(0,0,0,.1);
}

section .card:hover {
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}



/* Steps */

.steps_blocks {
    display: flex;
    justify-content: space-between;
}

.steps_elem {
    width: 22rem;
    height: 32rem;
}



/* Career */

.career_blocks {
    display: flex;
    justify-content: space-between;
}

.career_elem {
    width: 33.75rem;
}

.career_img {
    margin-bottom: 1rem;
}

.career_date {
    text-align: right;
}



/* Achievements */

.achievs_blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.achievs_elem {
    width: 16rem;
    margin-bottom: 1.875rem;
}



/* Skills */

section.skills {
    margin-top: 1.625rem;
}



/* Footer */

footer {
    height: 3rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

p.footer_text {
    color: #828282;
    font-size: 1.125rem;
    font-weight: 600;
}

p.footer_text > .footer_link {
    color: #EB5757;
    font-size: 1.125rem;
    font-weight: 600;
}

.footer_social {
    display: flex;
    float: right;
}

.social_item {
    margin-left: 1rem;    
}
